In [1]:
import numpy as np

import pyreadr
import pandas as pd

result = pyreadr.read_r('pollution/chicago.rds')

# done! let's see what we got
print(result.keys()) # let's check what objects we got: there is only None
pollution = result[None] # extract the pandas data frame for the only object available

odict_keys([None])

In [2]:
pollution

,city,tmpd,dptp,date,pm25tmean2,pm10tmean2,o3tmean2,no2tmean2
0,chic,31.5,31.500,1987-01-01,NaN,34.000000,4.250000,19.988095
1,chic,33.0,29.875,1987-01-02,NaN,NaN,3.304348,23.190994
2,chic,33.0,27.375,1987-01-03,NaN,34.166667,3.333333,23.815476
3,chic,29.0,28.625,1987-01-04,NaN,47.000000,4.375000,30.434524
4,chic,32.0,28.875,1987-01-05,NaN,NaN,4.750000,30.333333
...,...,...,...,...,...,...,...,...
6935,chic,40.0,33.600,2005-12-27,23.560000,27.000000,4.468750,23.500000
6936,chic,37.0,34.500,2005-12-28,17.750000,27.500000,3.260417,19.285628
6937,chic,35.0,29.400,2005-12-29,7.450000,23.500000,6.794837,19.972222
6938,chic,36.0,31.000,2005-12-30,15.057143,19.200000,3.034420,22.805556
6939,chic,35.0,30.100,2005-12-31,15.000000,23.500000,2.531250,13.250000

In [3]:
pollution['date'] = pd.to_datetime(pollution['date'], errors='coerce')

In [4]:
#filtorwanie dat
filtered_df = pollution.loc[(pollution['date'] >= '2000-01-01')
                     & (pollution['date'] < '2005-12-31')]

filtered_df

,city,tmpd,dptp,date,pm25tmean2,pm10tmean2,o3tmean2,no2tmean2
4748,chic,42.0,32.2,2000-01-01,25.700000,29.333333,4.621212,24.069444
4749,chic,48.0,42.3,2000-01-02,30.600000,47.500000,16.527778,16.312500
4750,chic,35.0,33.7,2000-01-03,12.450000,11.500000,9.099034,15.114583
4751,chic,28.0,22.2,2000-01-04,11.550000,19.000000,11.059179,23.801786
4752,chic,20.0,16.6,2000-01-05,18.600000,23.500000,4.352657,20.349802
...,...,...,...,...,...,...,...,...
6934,chic,35.0,29.6,2005-12-26,8.400000,8.500000,14.041667,16.819444
6935,chic,40.0,33.6,2005-12-27,23.560000,27.000000,4.468750,23.500000
6936,chic,37.0,34.5,2005-12-28,17.750000,27.500000,3.260417,19.285628
6937,chic,35.0,29.4,2005-12-29,7.450000,23.500000,6.794837,19.972222
6938,chic,36.0,31.0,2005-12-30,15.057143,19.200000,3.034420,22.805556

In [5]:
filtered_df = filtered_df.groupby(filtered_df['date'].map(lambda x: x.year))

In [6]:
filtered_df_mean = filtered_df.mean()
filtered_df_mean

           tmpd       dptp  pm25tmean2  pm10tmean2   o3tmean2  no2tmean2
date
2000  50.040984  40.251639   16.938059   30.483138  18.531011  24.073101
2001  51.043836  41.312329   16.926319   32.430495  19.354205  25.389624
2002  51.169863  41.450000   15.273349   29.353755  20.989783  23.667676
2003  49.304945  38.341096   15.231826   27.505114  20.977644  25.244054
2004  50.125683  39.988767   14.628638   27.864162  20.536332  23.444885
2005  51.571429  39.753022   16.189046   28.661126  23.250160  23.192655

In [7]:
astma = pd.read_csv('health/asthma-hospitalizations-in-chicago-by-year-2000-2011.csv')

astma

,ZIP code (or aggregate),Hospitalizations 2000,Crude Rate 2000,Crude Rate 2000 Lower CI,Crude Rate 2000 Upper CI,Adjusted Rate 2000 (Ages 5-64 only),Adjusted Rate 2000 Lower CI,Adjusted Rate 2000 Upper CI,Hospitalizations 2001,Crude Rate 2001,...,Adjusted Rate 2010 (Ages 5-64 only),Adjusted Rate 2010 Lower CI,Adjusted Rate 2010 Upper CI,Hospitalizations 2011,Crude Rate 2011,Crude Rate 2011 Lower CI,Crude Rate 2011 Upper CI,Adjusted Rate 2011 (Ages 5-64 only),Adjusted Rate 2011 Lower CI,Adjusted Rate 2011 Upper CI
0,"60606, 60607 & 60661",56.0,25.9,19.6,33.6,21.5,13.9,30.8,46.0,20.1,...,15.1,7.8,24.7,34.0,10.0,6.9,14.0,15.9,8.9,24.9
1,"60601, 60602, 60603, 60604, 60605 & 60611",60.0,13.3,10.2,17.1,17.0,10.0,25.7,42.0,8.9,...,9.6,5.3,15.2,64.0,9.6,7.4,12.2,8.6,5.1,12.8
2,60608,258.0,27.9,24.5,31.3,25.3,21.6,29.2,206.0,22.5,...,13.6,10.9,16.6,145.0,17.5,14.7,20.4,15.6,12.7,18.8
3,60609,386.0,48.6,43.7,53.4,46.3,40.8,52.1,336.0,43.1,...,23.5,19.5,27.9,195.0,30.0,25.8,34.3,27.7,23.3,32.5
4,60610 & 60654,160.0,33.7,28.5,38.9,33.3,26.7,40.5,172.0,35.8,...,21.6,15.8,28.3,84.0,16.0,12.7,19.8,21.6,15.2,29.2
5,60612,302.0,79.5,70.5,88.5,72.7,63.3,82.7,298.0,79.4,...,46.1,38.1,54.8,184.0,55.0,47.0,62.9,49.7,41.4,58.8
6,60613,63.0,12.5,9.6,15.9,13.8,9.1,19.5,45.0,8.9,...,8.3,5.5,11.8,40.0,8.3,5.9,11.3,6.3,4.0,9.2
7,60614,60.0,9.2,7.0,11.8,6.9,4.2,10.2,78.0,11.9,...,5.7,3.5,8.4,46.0,6.9,5.1,9.2,6.6,4.1,9.7
8,60615,200.0,44.3,38.2,50.5,36.9,30.7,43.8,130.0,29.1,...,18.0,13.5,23.0,111.0,27.3,22.3,32.4,26.7,21.2,32.8
9,60616,144.0,30.6,25.6,35.6,25.0,20.1,30.4,90.0,19.1,...,8.9,6.2,12.1,91.0,18.8,15.1,23.1,14.1,10.5,18.3
10,60617,358.0,37.2,33.3,41.0,30.9,27.1,34.9,359.0,37.8,...,34.1,29.8,38.6,352.0,41.8,37.5,46.2,34.5,30.3,39.1
11,60618,199.0,20.3,17.5,23.1,18.9,15.9,22.1,161.0,16.5,...,10.8,8.5,13.4,126.0,13.7,11.3,16.1,10.1,7.9,12.7
12,60619,358.0,47.8,42.8,52.7,44.3,39.1,49.9,352.0,47.7,...,49.8,43.9,56.1,325.0,50.9,45.4,56.5,46.7,41.0,52.7
13,60620,471.0,54.9,50.0,59.9,46.2,41.2,51.4,405.0,48.0,...,38.4,33.6,43.6,338.0,46.8,41.8,51.8,42.1,37.0,47.5
14,60621,336.0,70.7,63.2,78.3,65.7,57.4,74.4,293.0,63.2,...,68.9,59.6,78.7,250.0,69.6,61.0,78.2,68.1,58.9,77.9
15,60622 & 60642,293.0,38.5,34.1,43.0,31.7,27.0,36.6,287.0,38.0,...,25.8,21.0,31.1,185.0,26.0,22.3,29.8,24.5,19.9,29.6
16,60623,461.0,42.6,38.7,46.5,33.4,29.4,37.6,405.0,38.0,...,36.9,32.5,41.5,322.0,35.0,31.1,38.8,34.8,30.5,39.3
17,60624,511.0,111.9,102.2,121.7,97.8,87.6,108.5,438.0,97.6,...,80.1,70.4,90.3,313.0,82.1,73.0,91.2,74.5,65.2,84.4
18,60625,144.0,15.8,13.2,18.3,13.5,10.9,16.4,126.0,14.0,...,12.2,9.6,15.2,101.0,12.8,10.3,15.3,10.1,7.7,12.8
19,60626,183.0,30.9,26.4,35.4,29.4,24.5,34.9,170.0,29.1,...,20.4,15.9,25.4,84.0,16.8,13.4,20.7,15.1,11.4,19.2
20,60628,581.0,66.2,60.8,71.5,60.2,54.7,66.1,408.0,47.3,...,40.0,35.0,45.3,346.0,47.9,42.9,53.0,42.5,37.4,47.9
21,60629,265.0,23.2,20.4,26.0,19.0,16.2,21.9,234.0,20.5,...,22.7,19.7,26.0,259.0,22.7,20.0,25.5,20.6,17.7,23.6
22,60630,72.0,13.1,10.3,16.6,11.5,8.5,14.9,72.0,13.2,...,5.6,3.6,8.0,62.0,11.5,8.8,14.7,8.6,6.0,11.7
23,60631,29.0,10.1,6.7,14.4,7.4,4.2,11.4,37.0,12.8,...,3.7,1.6,6.5,17.0,5.9,3.5,9.5,2.8,1.0,5.6
24,60632,109.0,12.4,10.1,14.8,7.7,5.7,10.0,126.0,14.3,...,6.8,5.0,8.9,100.0,10.9,8.8,13.1,7.9,5.9,10.1
25,60634,93.0,12.5,10.1,15.4,10.7,8.2,13.5,108.0,14.6,...,7.4,5.4,9.8,76.0,10.2,8.1,12.8,8.8,6.5,11.4
26,60636,360.0,70.0,62.7,77.2,62.2,54.8,70.1,340.0,67.5,...,67.1,58.6,76.2,317.0,77.5,68.9,86.0,73.3,64.3,82.9
27,60637,309.0,54.1,48.1,60.2,45.3,39.2,51.8,281.0,49.9,...,44.8,38.5,51.6,220.0,44.4,38.6,50.3,41.9,35.8,48.5
28,60638,97.0,17.4,14.1,21.2,14.8,11.4,18.7,85.0,15.3,...,7.4,5.1,10.1,50.0,9.1,6.7,12.0,6.7,4.5,9.3
29,60639,296.0,31.8,28.2,35.5,29.9,26.0,34.1,294.0,31.7,...,23.5,20.1,27.1,234.0,25.9,22.6,29.2,21.8,18.5,25.3
30,60640,193.0,26.1,22.4,29.7,23.0,19.1,27.3,165.0,22.5,...,20.8,16.7,25.4,182.0,27.7,23.6,31.7,27.3,22.3,32.7
31,60641,114.0,15.4,12.6,18.3,11.7,9.2,14.6,110.0,14.9,...,11.0,8.5,13.9,106.0,14.8,12.0,17.6,10.0,7.7,12.7
32,60643,191.0,36.3,31.2,41.5,27.5,22.8,32.7,177.0,33.8,...,33.6,28.0,39.6,149.0,29.8,25.0,34.6,24.6,19.9,29.8
33,60644,450.0,76.2,69.2,83.2,67.4,60.1,75.0,428.0,73.8,...,53.3,46.4,60.6,289.0,59.4,52.6,66.3,55.0,48.0,62.5
34,60645,78.0,17.6,14.0,22.0,14.1,10.4,18.4,70.0,15.8,...,9.6,6.7,12.9,52.0,11.5,8.6,15.1,8.4,5.7,11.6
35,60646,40.0,14.8,10.6,20.2,12.3,7.7,17.9,24.0,8.9,...,6.1,3.1,10.0,22.0,8.1,5.1,12.3,4.1,1.7,7.5
36,60647,390.0,39.5,35.6,43.4,41.1,36.3,46.1,357.0,36.6,...,29.2,25.1,33.6,244.0,28.0,24.4,31.5,26.3,22.2,30.6
37,60649,303.0,55.3,49.0,61.5,50.9,44.5,57.7,280.0,51.8,...,48.6,42.0,55.6,296.0,63.5,56.2,70.7,59.9,52.5,67.8
38,60651,475.0,61.2,55.7,66.7,53.9,48.3,59.8,410.0,53.8,...,43.3,37.9,49.0,342.0,53.2,47.6,58.9,46.2,40.6,52.1
39,60652,79.0,20.2,16.0,25.2,17.6,13.4,22.4,68.0,17.3,...,15.0,11.3,19.3,54.0,13.2,9.9,17.2,9.1,6.2,12.5
40,60653,257.0,74.5,65.4,83.6,70.7,60.7,81.5,196.0,57.6,...,39.0,31.6,47.2,134.0,44.8,37.2,52.4,38.3,31.0,46.5
41,60655,45.0,15.4,11.3,20.7,14.2,9.8,19.4,22.0,7.6,...,4.1,1.9,7.0,19.0,6.7,4.0,10.4,5.1,2.6,8.4
42,60656,33.0,12.2,8.4,17.1,10.2,6.2,15.2,36.0,13.2,...,5.5,2.8,9.2,20.0,7.2,4.4,11.2,5.3,2.8,8.6
43,60657,55.0,8.2,6.2,10.7,10.3,6.1,15.5,47.0,7.0,...,6.2,3.7,9.2,34.0,5.2,3.6,7.2,7.1,3.6,11.8
44,60659,59.0,15.1,11.5,19.4,11.6,8.1,15.7,48.0,12.3,...,10.1,6.8,13.9,38.0,10.0,7.1,13.7,9.6,6.5,13.3
45,60660,71.0,14.9,11.6,18.8,12.8,8.9,17.2,80.0,16.9,...,7.1,4.2,10.8,68.0,15.9,12.4,20.2,13.7,9.7,18.3
46,60707 & 60635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.5,5.7,11.8,65.0,15.1,11.7,19.3,11.8,8.4,15.7
47,60827 & 60633,22.0,4.7,3.0,7.2,4.3,2.5,6.7,19.0,4.1,...,24.4,19.4,30.0,131.0,32.1,26.6,37.5,28.8,23.4,34.7
48,CHICAGO,NaN,34.1,33.4,34.8,29.4,28.7,30.1,NaN,30.6,...,23.1,22.4,23.7,NaN,26.6,26.0,27.2,23.3,22.7,23.9

In [8]:
astma_hospital = astma[['Hospitalizations 2000', 'Hospitalizations 2001', 'Hospitalizations 2002', \
                        'Hospitalizations 2003', 'Hospitalizations 2004', 'Hospitalizations 2005']]
astma_hospital =  astma_hospital.dropna(axis=0)

astma_hospital

,Hospitalizations 2000,Hospitalizations 2001,Hospitalizations 2002,Hospitalizations 2003,Hospitalizations 2004,Hospitalizations 2005
0,56.0,46.0,45.0,39.0,30.0,47.0
1,60.0,42.0,46.0,33.0,42.0,48.0
2,258.0,206.0,191.0,211.0,177.0,166.0
3,386.0,336.0,259.0,248.0,210.0,230.0
4,160.0,172.0,146.0,130.0,105.0,108.0
5,302.0,298.0,277.0,220.0,224.0,212.0
6,63.0,45.0,60.0,45.0,46.0,44.0
7,60.0,78.0,64.0,65.0,58.0,82.0
8,200.0,130.0,139.0,136.0,110.0,108.0
9,144.0,90.0,124.0,112.0,96.0,109.0
10,358.0,359.0,365.0,345.0,285.0,306.0
11,199.0,161.0,168.0,171.0,127.0,150.0
12,358.0,352.0,369.0,337.0,305.0,314.0
13,471.0,405.0,408.0,371.0,369.0,401.0
14,336.0,293.0,333.0,279.0,294.0,308.0
15,293.0,287.0,225.0,218.0,252.0,262.0
16,461.0,405.0,427.0,413.0,257.0,280.0
17,511.0,438.0,469.0,353.0,315.0,298.0
18,144.0,126.0,125.0,116.0,97.0,101.0
19,183.0,170.0,134.0,122.0,109.0,113.0
20,581.0,408.0,485.0,482.0,417.0,393.0
21,265.0,234.0,227.0,267.0,232.0,217.0
22,72.0,72.0,59.0,62.0,64.0,60.0
23,29.0,37.0,22.0,33.0,28.0,25.0
24,109.0,126.0,90.0,84.0,77.0,86.0
25,93.0,108.0,101.0,78.0,58.0,87.0
26,360.0,340.0,353.0,366.0,306.0,321.0
27,309.0,281.0,325.0,347.0,296.0,288.0
28,97.0,85.0,102.0,86.0,82.0,82.0
29,296.0,294.0,252.0,269.0,211.0,235.0
30,193.0,165.0,166.0,189.0,142.0,142.0
31,114.0,110.0,112.0,114.0,126.0,113.0
32,191.0,177.0,182.0,229.0,155.0,199.0
33,450.0,428.0,437.0,347.0,350.0,299.0
34,78.0,70.0,58.0,71.0,64.0,87.0
35,40.0,24.0,39.0,24.0,28.0,25.0
36,390.0,357.0,328.0,342.0,328.0,289.0
37,303.0,280.0,314.0,311.0,286.0,284.0
38,475.0,410.0,428.0,423.0,360.0,373.0
39,79.0,68.0,54.0,86.0,79.0,77.0
40,257.0,196.0,194.0,192.0,146.0,130.0
41,45.0,22.0,32.0,27.0,29.0,47.0
42,33.0,36.0,22.0,33.0,25.0,26.0
43,55.0,47.0,41.0,40.0,57.0,70.0
44,59.0,48.0,44.0,35.0,44.0,40.0
45,71.0,80.0,67.0,52.0,53.0,52.0
47,22.0,19.0,143.0,163.0,197.0,159.0

In [9]:
astma_hospital.columns = ['2000', '2001', '2002', '2003', '2004', '2005']

astma_hospital_sum = astma_hospital.sum()

astma_hospital_sum

2000    10069.0
2001     8961.0
2002     9051.0
2003     8716.0
2004     7748.0
2005     7893.0
dtype: float64

In [10]:
astma_hospital_sum.index = astma_hospital_sum.index.astype('int64')
result_1 = filtered_df_mean.merge(astma_hospital_sum.rename('hospitalizations'), how='outer', left_index=True, right_index=True)
result_1[['pm25tmean2', 'pm10tmean2', 'hospitalizations']]

      pm25tmean2  pm10tmean2  hospitalizations
date
2000   16.938059   30.483138           10069.0
2001   16.926319   32.430495            8961.0
2002   15.273349   29.353755            9051.0
2003   15.231826   27.505114            8716.0
2004   14.628638   27.864162            7748.0
2005   16.189046   28.661126            7893.0

In [11]:
#filtorwanie dat
pollution_1995_2005 = pollution.loc[(pollution['date'] >= '1999-01-01')
                     & (pollution['date'] < '2005-12-31')]

pollution_1995_2005

,city,tmpd,dptp,date,pm25tmean2,pm10tmean2,o3tmean2,no2tmean2
4383,chic,14.0,7.7,1999-01-01,NaN,21.5,15.611111,21.491667
4384,chic,22.0,21.0,1999-01-02,NaN,NaN,25.763889,12.641667
4385,chic,16.0,8.4,1999-01-03,NaN,29.5,19.388889,19.041667
4386,chic,-2.0,-6.9,1999-01-04,NaN,16.5,8.597222,28.450000
4387,chic,1.0,-6.1,1999-01-05,NaN,28.0,4.819444,35.125000
...,...,...,...,...,...,...,...,...
6934,chic,35.0,29.6,2005-12-26,8.400000,8.5,14.041667,16.819444
6935,chic,40.0,33.6,2005-12-27,23.560000,27.0,4.468750,23.500000
6936,chic,37.0,34.5,2005-12-28,17.750000,27.5,3.260417,19.285628
6937,chic,35.0,29.4,2005-12-29,7.450000,23.5,6.794837,19.972222
6938,chic,36.0,31.0,2005-12-30,15.057143,19.2,3.034420,22.805556

In [12]:
pollution_1995_2005 = pollution_1995_2005.groupby(pollution_1995_2005['date'].map(lambda x: x.year))

In [13]:
pollution_1995_2005 = pollution_1995_2005.mean()

pollution_1995_2005

           tmpd       dptp  pm25tmean2  pm10tmean2   o3tmean2  no2tmean2
date
1999  51.463014  40.986301   18.496464   31.309802  20.465933  24.933394
2000  50.040984  40.251639   16.938059   30.483138  18.531011  24.073101
2001  51.043836  41.312329   16.926319   32.430495  19.354205  25.389624
2002  51.169863  41.450000   15.273349   29.353755  20.989783  23.667676
2003  49.304945  38.341096   15.231826   27.505114  20.977644  25.244054
2004  50.125683  39.988767   14.628638   27.864162  20.536332  23.444885
2005  51.571429  39.753022   16.189046   28.661126  23.250160  23.192655

In [14]:
births =  pd.read_csv('health/births-and-birth-rates-in-chicago-by-year-1999-2009.csv')
births = births[['Births 1999', 'Births 2000', 'Births 2001', 'Births 2002', 'Births 2003', 'Births 2004','Births 2005']]
births = births.sum()
births

Births 1999    100456
Births 2000    100980
Births 2001     98631
Births 2002     95346
Births 2003     95412
Births 2004     92492
Births 2005     90305
dtype: int64

In [15]:
result_2 = pd.concat([pollution_1995_2005.reset_index(drop=True), births.reset_index(drop=True)], axis=1)
result_2.index = pollution_1995_2005.index
result_2 = result_2.rename(columns={0: "Births"})
result_2

,tmpd,dptp,pm25tmean2,pm10tmean2,o3tmean2,no2tmean2,Births
date,,,,,,,
1999,51.463014,40.986301,18.496464,31.309802,20.465933,24.933394,100456
2000,50.040984,40.251639,16.938059,30.483138,18.531011,24.073101,100980
2001,51.043836,41.312329,16.926319,32.430495,19.354205,25.389624,98631
2002,51.169863,41.450000,15.273349,29.353755,20.989783,23.667676,95346
2003,49.304945,38.341096,15.231826,27.505114,20.977644,25.244054,95412
2004,50.125683,39.988767,14.628638,27.864162,20.536332,23.444885,92492
2005,51.571429,39.753022,16.189046,28.661126,23.250160,23.192655,90305

In [16]:
infant_mortality = pd.read_csv('health/infant-mortality-in-chicago-2005-2009.csv')
infant_mortality = infant_mortality['Deaths 2005']
infant_mortality

0       7
1       9
2       2
3       2
4       1
     ...
73      1
74      3
75      0
76      6
77    387
Name: Deaths 2005, Length: 78, dtype: int64

In [17]:
low_birth_weigh = pd.read_csv('health/low-birth-weight-in-chicago-by-year-1999-2009.csv')
low_birth_weigh = low_birth_weigh[['Births 1999', 'Births 2000', 'Births 2001', \
                                  'Births 2002', 'Births 2003', 'Births 2004',\
                                  'Births 2005']]
low_birth_weigh = low_birth_weigh.sum()
low_birth_weigh

Births 1999    10104
Births 2000     9832
Births 2001     9903
Births 2002     9501
Births 2003     9655
Births 2004     9245
Births 2005     9196
dtype: int64

In [18]:
result_2 = pd.concat([result_2.reset_index(drop=True), low_birth_weigh.reset_index(drop=True)], axis=1)
result_2.index = pollution_1995_2005.index
result_2 = result_2.rename(columns={0: "Low Weight Births"})
result_2

,tmpd,dptp,pm25tmean2,pm10tmean2,o3tmean2,no2tmean2,Births,Low Weight Births
date,,,,,,,,
1999,51.463014,40.986301,18.496464,31.309802,20.465933,24.933394,100456,10104
2000,50.040984,40.251639,16.938059,30.483138,18.531011,24.073101,100980,9832
2001,51.043836,41.312329,16.926319,32.430495,19.354205,25.389624,98631,9903
2002,51.169863,41.450000,15.273349,29.353755,20.989783,23.667676,95346,9501
2003,49.304945,38.341096,15.231826,27.505114,20.977644,25.244054,95412,9655
2004,50.125683,39.988767,14.628638,27.864162,20.536332,23.444885,92492,9245
2005,51.571429,39.753022,16.189046,28.661126,23.250160,23.192655,90305,9196

In [19]:
preterm_births = pd.read_csv('health/preterm-births-in-chicago-by-year-1999-2009.csv')
preterm_births = preterm_births[['Pre-term Births 1999', 'Pre-term Births 2000', 'Pre-term Births 2001', \
                                  'Pre-term Births 2002', 'Pre-term Births 2003', 'Pre-term Births 2004', \
                                  'Pre-term Births 2005' ]]
preterm_births = preterm_births.sum()
preterm_births

Pre-term Births 1999    11360
Pre-term Births 2000    11404
Pre-term Births 2001    11082
Pre-term Births 2002    10866
Pre-term Births 2003    10897
Pre-term Births 2004    10768
Pre-term Births 2005    10645
dtype: int64

In [20]:
result_2 = pd.concat([result_2.reset_index(drop=True), preterm_births.reset_index(drop=True)], axis=1)
result_2.index = pollution_1995_2005.index
result_2 = result_2.rename(columns={0: "Pre-term Births"})
result_2

,tmpd,dptp,pm25tmean2,pm10tmean2,o3tmean2,no2tmean2,Births,Low Weight Births,Pre-term Births
date,,,,,,,,,
1999,51.463014,40.986301,18.496464,31.309802,20.465933,24.933394,100456,10104,11360
2000,50.040984,40.251639,16.938059,30.483138,18.531011,24.073101,100980,9832,11404
2001,51.043836,41.312329,16.926319,32.430495,19.354205,25.389624,98631,9903,11082
2002,51.169863,41.450000,15.273349,29.353755,20.989783,23.667676,95346,9501,10866
2003,49.304945,38.341096,15.231826,27.505114,20.977644,25.244054,95412,9655,10897
2004,50.125683,39.988767,14.628638,27.864162,20.536332,23.444885,92492,9245,10768
2005,51.571429,39.753022,16.189046,28.661126,23.250160,23.192655,90305,9196,10645

In [21]:
blood_lead_levels = pd.read_csv('health/screening-for-elevated-blood-lead-levels-in-children-aged-0-6-years-by-year-chicago-1999-2013.csv')
blood_lead_levels = blood_lead_levels[['Percent Elevated 1999', 'Percent Elevated 2000', 'Percent Elevated 2001', \
                                      'Percent Elevated 2002', 'Percent Elevated 2003', 'Percent Elevated 2004', \
                                      'Percent Elevated 2005']]
blood_lead_levels = blood_lead_levels.mean()

In [22]:
result_2 = pd.concat([result_2.reset_index(drop=True), blood_lead_levels.reset_index(drop=True)], axis=1)
result_2.index = pollution_1995_2005.index
result_2 = result_2.rename(columns={0: "Blood Lead Level Elevated (%)"})
result_2 = result_2.drop(columns=['tmpd', 'dptp', 'pm25tmean2', 'pm10tmean2'])
result_2

,o3tmean2,no2tmean2,Births,Low Weight Births,Pre-term Births,Blood Lead Level Elevated (%)
date,,,,,,
1999,20.465933,24.933394,100456,10104,11360,12.710127
2000,18.531011,24.073101,100980,9832,11404,10.955696
2001,19.354205,25.389624,98631,9903,11082,8.674684
2002,20.989783,23.667676,95346,9501,10866,6.853165
2003,20.977644,25.244054,95412,9655,10897,4.745570
2004,20.536332,23.444885,92492,9245,10768,4.173418
2005,23.250160,23.192655,90305,9196,10645,3.688608

In [23]:
result_2.columns

Index(['o3tmean2', 'no2tmean2', 'Births', 'Low Weight Births',
       'Pre-term Births', 'Blood Lead Level Elevated (%)'],
      dtype='object')

In [24]:
#3
def percent_increase(df, name_from, name_to):
    df[name_to] = None
    for i in range(2001, 2006):
        df.loc[i, name_to] = round((df.loc[i, name_from] - df.loc[i - 1, name_from]) /df.loc[i - 1, name_from] * 100, 2)

In [25]:
pollution_t3 = filtered_df_mean.drop(columns=['tmpd', 'dptp'])
pollution_t3['Overall average pollution'] = pollution_t3.mean(axis=1)
percent_increase(pollution_t3, 'Overall average pollution', 'Pollution increase to last year')
pollution_t3

,pm25tmean2,pm10tmean2,o3tmean2,no2tmean2,Overall average pollution,Pollution increase to last year
date,,,,,,
2000,16.938059,30.483138,18.531011,24.073101,22.506327,None
2001,16.926319,32.430495,19.354205,25.389624,23.525161,4.53
2002,15.273349,29.353755,20.989783,23.667676,22.321140,-5.12
2003,15.231826,27.505114,20.977644,25.244054,22.239659,-0.37
2004,14.628638,27.864162,20.536332,23.444885,21.618505,-2.79
2005,16.189046,28.661126,23.250160,23.192655,22.823247,5.57

In [26]:
diabetes = pd.read_csv('health/diabetes-hospitalizations-in-chicago-2000-2011.csv')
diabetes_hospital = diabetes[['Hospitalizations 2000', 'Hospitalizations 2001', 'Hospitalizations 2002', \
                        'Hospitalizations 2003', 'Hospitalizations 2004', 'Hospitalizations 2005']]
diabetes_hospital =  diabetes_hospital.dropna(axis=0)
diabetes_hospital.columns = ['2000', '2001', '2002', '2003', '2004', '2005']
diabetes_hospital_sum = diabetes_hospital.sum()

diabetes_hospital_sum.index = diabetes_hospital_sum.index.astype('int64')
astma_hospital_sum.name = 'asthma hospitalization'
diabetes_hospital_sum.name = 'diabetes hospitalization'
diseases_summary = astma_hospital_sum.to_frame().merge(diabetes_hospital_sum, how='outer', left_index=True, right_index=True)
diseases_summary

      asthma hospitalization  diabetes hospitalization
2000                 10069.0                    7507.0
2001                  8961.0                    7567.0
2002                  9051.0                    7871.0
2003                  8716.0                    7286.0
2004                  7748.0                    7475.0
2005                  7893.0                    7520.0

In [27]:
percent_increase(diseases_summary, 'asthma hospitalization', 'asthma hospitalization increase to last year')
percent_increase(diseases_summary, 'diabetes hospitalization', 'diabetes hospitalization increase to last year')
diseases_summary

,asthma hospitalization,diabetes hospitalization,asthma hospitalization increase to last year,diabetes hospitalization increase to last year
2000,10069.0,7507.0,None,None
2001,8961.0,7567.0,-11.0,0.8
2002,9051.0,7871.0,1.0,4.02
2003,8716.0,7286.0,-3.7,-7.43
2004,7748.0,7475.0,-11.11,2.59
2005,7893.0,7520.0,1.87,0.6

In [28]:
result_3_merged = diseases_summary.merge(pollution_t3, how='outer', left_index=True, right_index=True)
result_3 = result_3_merged[['asthma hospitalization increase to last year',
                            'diabetes hospitalization increase to last year',
                            'Pollution increase to last year']]
result_3

,asthma hospitalization increase to last year,diabetes hospitalization increase to last year,Pollution increase to last year
2000,None,None,None
2001,-11.0,0.8,4.53
2002,1.0,4.02,-5.12
2003,-3.7,-7.43,-0.37
2004,-11.11,2.59,-2.79
2005,1.87,0.6,5.57

In [29]:
#4
crime = pd.concat(
    [
        pd.read_csv('crime/Chicago_Crimes_2001_to_2004.csv', error_bad_lines=False),
        pd.read_csv('crime/Chicago_Crimes_2005_to_2007.csv', error_bad_lines=False)
    ]
)
crime.info()

C:\Users\Adrian\AppData\Local\Temp\ipykernel_16176\269539565.py:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  pd.read_csv('crime/Chicago_Crimes_2001_to_2004.csv', error_bad_lines=False),
b'Skipping line 1513591: expected 23 fields, saw 24\n'
C:\Users\Adrian\AppData\Local\Temp\ipykernel_16176\269539565.py:4: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('crime/Chicago_Crimes_2001_to_2004.csv', error_bad_lines=False),
C:\Users\Adrian\AppData\Local\Temp\ipykernel_16176\269539565.py:5: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  pd.read_csv('crime/Chicago_Crimes_2005_to_2007.csv', error_bad_lines=False)
b'Skipping line 533719: expected 23 fields, saw 24\n'

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3795858 entries, 0 to 1872342
Data columns (total 23 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   ID                    int64
 2   Case Number           object
 3   Date                  object
 4   Block                 object
 5   IUCR                  object
 6   Primary Type          object
 7   Description           object
 8   Location Description  object
 9   Arrest                bool
 10  Domestic              bool
 11  Beat                  int64
 12  District              float64
 13  Ward                  float64
 14  Community Area        float64
 15  FBI Code              object
 16  X Coordinate          float64
 17  Y Coordinate          object
 18  Year                  float64
 19  Updated On            object
 20  Latitude              object
 21  Longitude             float64
 22  Location              object
dtypes: bool(2), float64(6), int64(3), object(12)
memory usage: 644.4+ MB

In [30]:
pollution_1995_2005 = pollution_1995_2005.groupby(pollution_1995_2005['date'].map(lambda x: x.year))

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,879,4786321,HM399414,01/01/2004 12:01:00 AM,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,7.0,46.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,2544,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,11.0,61.0,26,1173974.0,1876757.0,2003.0,04/15/2016 08:55:02 AM,41.817229,-87.637328,"(41.817229156, -87.637328162)"
2,2919,4789749,HM402220,06/20/2004 11:00:00 AM,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,...,35.0,22.0,20,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
3,2927,4789765,HM402058,12/30/2004 08:00:00 PM,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,...,31.0,20.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
4,3302,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,...,34.0,49.0,06,1174948.0,1831051.0,2003.0,04/15/2016 08:55:02 AM,41.691785,-87.635116,"(41.691784636, -87.635115968)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1872016,6253939,4783773,HM392374,06/04/2005 01:25:00 AM,015XX N MONTICELLO AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,...,26.0,23.0,08B,NaN,NaN,2005.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1872077,6254000,4783850,HM313513,01/01/2005 12:01:00 AM,012XX N ARTESIAN AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,...,26.0,24.0,06,NaN,NaN,2005.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1872273,6254198,4784178,HL816101,12/29/2005 06:42:56 PM,0000X W 24TH ST,0560,ASSAULT,SIMPLE,CHA PARKING LOT/GROUNDS,False,...,3.0,33.0,08A,NaN,NaN,2005.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1872278,6254203,4673532,HM274361,06/01/2005 09:00:00 AM,076XX S LOOMIS BLVD,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,17.0,71.0,06,1168321.0,1854157.0,2005.0,04/15/2016 08:55:02 AM,41.755336,-87.658715,"(41.755335821, -87.658715338)"
1872309,6254234,4673578,HM275033,11/23/2005 07:30:00 PM,004XX W 95TH PL,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,...,21.0,73.0,26,1175025.0,1841577.0,2005.0,04/15/2016 08:55:02 AM,41.720668,-87.634521,"(41.720667791, -87.634521338)"

In [31]:
pollution_1995_2005 = pollution_1995_2005.mean()

pollution_1995_2005

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
6,3756,4791194,HM403711,01/01/2001 11:00:00 AM,114XX S ST LAWRENCE AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,...,9.0,50.0,02,1182247.0,1829375.0,2001.0,08/29/2006 03:46:28 AM,41.68702,-87.608445,"(41.687020002, -87.60844523)"
19,14820,4808626,HM413308,06/14/2002 04:00:00 PM,032XX W BEACH AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,APARTMENT,False,...,26.0,23.0,02,NaN,NaN,2002.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
25,16594,4811727,HM402010,06/01/2001 08:00:00 AM,054XX W IOWA ST,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,...,37.0,25.0,17,1139668.0,1905504.0,2001.0,06/22/2006 03:55:52 AM,41.896809,-87.762472,"(41.896808547, -87.762472408)"
43,28961,4832512,HM442425,11/01/2004 12:01:00 AM,001XX S RIVERSIDE PLZ,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,OTHER,False,...,2.0,28.0,17,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
48,30648,4835260,HM447297,07/08/2004 12:01:00 AM,022XX N LAVERGNE AVE,0263,CRIM SEXUAL ASSAULT,AGGRAVATED: KNIFE/CUT INSTR,RESIDENCE,True,...,31.0,19.0,02,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1863104,6244957,4660377,HM260493,01/01/2005 12:00:00 AM,091XX S GREEN ST,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,False,...,21.0,73.0,17,1172250.0,1844209.0,2005.0,04/15/2016 08:55:02 AM,41.727952,-87.644608,"(41.727951735, -87.644608368)"
1863504,6245361,4660934,HM260432,12/26/2005 12:01:00 AM,060XX N NASSAU AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,False,...,41.0,10.0,17,1132113.0,1939856.0,2005.0,04/15/2016 08:55:02 AM,41.991209,-87.789421,"(41.991208854, -87.789420592)"
1865482,6247358,4664029,HM264115,12/05/2005 12:01:00 AM,023XX W JACKSON BLVD,1565,SEX OFFENSE,INDECENT SOLICITATION/CHILD,RESIDENCE,False,...,2.0,28.0,17,1160891.0,1898643.0,2005.0,04/15/2016 08:55:02 AM,41.877567,-87.684714,"(41.877567416, -87.684713886)"
1865950,6247829,4773579,HM327640,10/01/2005 12:01:00 AM,037XX N MOZART ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,...,33.0,16.0,02,NaN,NaN,2005.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1866789,6248676,4665625,HM265386,12/01/2005 03:00:00 PM,016XX W JUNEWAY TER,0265,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER,APARTMENT,False,...,49.0,1.0,02,1163867.0,1951492.0,2005.0,04/15/2016 08:55:02 AM,42.022525,-87.672290,"(42.022525464, -87.672290154)"

In [32]:
births =  pd.read_csv('health/births-and-birth-rates-in-chicago-by-year-1999-2009.csv')
births = births[['Births 1999', 'Births 2000', 'Births 2001', 'Births 2002', 'Births 2003', 'Births 2004','Births 2005']]
births = births.sum()
births

C:\Users\Adrian\AppData\Local\Temp\ipykernel_16176\1874833045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex_crime['Year'] = sex_crime['Year'].astype('int64')

In [33]:
result_2 = pd.concat([pollution_1995_2005.reset_index(drop=True), births.reset_index(drop=True)], axis=1)
result_2.index = pollution_1995_2005.index
result_2 = result_2.rename(columns={0: "Births"})
result_2

Year
2001    4016
2002    3989
2003    3616
2004    2872
2005    3341
Name: No. of sexual crimes, dtype: int64

In [34]:
infant_mortality = pd.read_csv('health/infant-mortality-in-chicago-2005-2009.csv')
infant_mortality = infant_mortality['Deaths 2005']
infant_mortality

,Community Area,Community Area Name,Cases 2000 Female 15-44,Incidence Rate 2000,Incidence Rate 2000 Lower CI,Incidence Rate 2000 Upper CI,Cases 2001 Female 15-44,Incidence Rate 2001,Incidence Rate 2001 Lower CI,Incidence Rate 2001 Upper CI,...,Incidence Rate 2012 Upper CI,Cases 2013 Female 15-44,Incidence Rate 2013,Incidence Rate 2013 Lower CI,Incidence Rate 2013 Upper CI,Cases 2014 Female 15-44,Incidence Rate 2014,Incidence Rate 2014 Lower CI,Incidence Rate 2014 Upper CI,WARNING
0,1,Rogers Park,258.0,1522.1,1336.4,1707.8,217.0,1298.5,1125.7,1471.3,...,1694.6,203,1393.1,1201.5,1584.7,234,1605.8,1400.1,1811.5,NaN
1,2,West Ridge,69.0,439.9,342.3,556.7,66.0,422.9,327.1,538.0,...,1160.9,164,1101.0,932.5,1269.5,159,1067.5,901.6,1233.4,NaN
2,3,Uptown,169.0,1079.7,916.9,1242.5,157.0,1009.5,851.6,1167.4,...,1262.4,135,922.2,766.6,1077.8,177,1209.1,1031.0,1387.2,NaN
3,4,Lincoln Square,51.0,431.3,321.1,567.1,59.0,501.8,382.0,647.3,...,734.0,66,592.7,458.4,754.1,72,646.6,505.9,814.3,NaN
4,5,North Center,26.0,277.1,181.0,406.0,35.0,373.1,259.9,518.9,...,532.2,36,384.4,269.2,532.2,39,416.4,296.1,569.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,74,Mount Greenwood,5.0,123.5,40.1,288.2,10.0,247.2,118.5,454.6,...,884.7,18,446.0,264.3,704.9,32,792.9,542.3,1119.3,Rate and confidence interval estimates for yea...
74,75,Morgan Park,123.0,2284.1,1880.4,2687.8,91.0,1722.2,1386.6,2114.5,...,4226.8,156,3568.2,3008.3,4128.1,138,3156.5,2629.8,3683.2,NaN
75,76,O'Hare,10.0,342.8,164.4,630.4,11.0,378.0,188.7,676.3,...,1041.4,12,421.2,217.6,735.8,18,631.8,374.4,998.5,Rate and confidence interval estimates for yea...
76,77,Edgewater,106.0,673.8,545.5,802.1,102.0,654.9,527.8,782.0,...,852.7,99,699.4,568.4,851.5,90,635.8,511.3,781.5,NaN
77,99,Unknown,15.0,NaN,0.0,0.0,197.0,NaN,0.0,0.0,...,NaN,35,NaN,NaN,NaN,27,NaN,NaN,NaN,NaN

In [35]:
low_birth_weigh = pd.read_csv('health/low-birth-weight-in-chicago-by-year-1999-2009.csv')
low_birth_weigh = low_birth_weigh[['Births 1999', 'Births 2000', 'Births 2001', \
                                  'Births 2002', 'Births 2003', 'Births 2004',\
                                  'Births 2005']]
low_birth_weigh = low_birth_weigh.sum()
low_birth_weigh

,Cases 2001 Female 15-44,Cases 2002 Female 15-44,Cases 2003 Female 15-44,Cases 2004 Female 15-44,Cases 2005 Female 15-44
0,217.0,229.0,224.0,189.0,184.0
1,66.0,71.0,67.0,100.0,95.0
2,157.0,133.0,127.0,128.0,147.0
3,59.0,45.0,43.0,52.0,67.0
4,35.0,28.0,30.0,41.0,32.0
...,...,...,...,...,...
73,10.0,10.0,16.0,11.0,8.0
74,91.0,109.0,148.0,158.0,143.0
75,11.0,NaN,6.0,5.0,6.0
76,102.0,107.0,97.0,75.0,83.0
77,197.0,129.0,18.0,1483.0,1224.0

In [36]:
result_2 = pd.concat([result_2.reset_index(drop=True), low_birth_weigh.reset_index(drop=True)], axis=1)
result_2.index = pollution_1995_2005.index
result_2 = result_2.rename(columns={0: "Low Weight Births"})
result_2

In [37]:
sex_crime_disease = pd.concat([sex_crime_by_year, chlamydia_cases_sum,gonorrhea_cases_sum], axis=1)
sex_crime_disease['Sum of diseases'] = sex_crime_disease['Chlamydia'] + sex_crime_disease['Gonorrhea']
result_4 = sex_crime_disease
result_4

      No. of sexual crimes  Chlamydia  Gonorrhea  Sum of diseases
2001                  4016    14170.0     6216.0          20386.0
2002                  3989    13747.0     5662.0          19409.0
2003                  3616    14682.0     5305.0          19987.0
2004                  2872    15912.0     5707.0          21619.0
2005                  3341    16150.0     4976.0          21126.0

In [21]:
blood_lead_levels = pd.read_csv('health/screening-for-elevated-blood-lead-levels-in-children-aged-0-6-years-by-year-chicago-1999-2013.csv')
blood_lead_levels = blood_lead_levels[['Percent Elevated 1999', 'Percent Elevated 2000', 'Percent Elevated 2001', \
                                      'Percent Elevated 2002', 'Percent Elevated 2003', 'Percent Elevated 2004', \
                                      'Percent Elevated 2005']]
blood_lead_levels = blood_lead_levels.mean()

In [22]:
result_2 = pd.concat([result_2.reset_index(drop=True), blood_lead_levels.reset_index(drop=True)], axis=1)
result_2.index = pollution_1995_2005.index
result_2 = result_2.rename(columns={0: "Blood Lead Level Elevated (%)"})
result_2 = result_2.drop(columns=['tmpd', 'dptp', 'pm25tmean2', 'pm10tmean2'])
result_2

,o3tmean2,no2tmean2,Births,Low Weight Births,Pre-term Births,Blood Lead Level Elevated (%)
date,,,,,,
1999,20.465933,24.933394,100456,10104,11360,12.710127
2000,18.531011,24.073101,100980,9832,11404,10.955696
2001,19.354205,25.389624,98631,9903,11082,8.674684
2002,20.989783,23.667676,95346,9501,10866,6.853165
2003,20.977644,25.244054,95412,9655,10897,4.745570
2004,20.536332,23.444885,92492,9245,10768,4.173418
2005,23.250160,23.192655,90305,9196,10645,3.688608

In [23]:
result_2.columns

Index(['o3tmean2', 'no2tmean2', 'Births', 'Low Weight Births',
       'Pre-term Births', 'Blood Lead Level Elevated (%)'],
      dtype='object')

In [24]:
crime = pd.concat(
    [
        pd.read_csv('crime/Chicago_Crimes_2001_to_2004.csv', error_bad_lines=False),
        pd.read_csv('crime/Chicago_Crimes_2005_to_2007.csv', error_bad_lines=False)
    ]
)
crime.info()

FileNotFoundError: [Errno 2] No such file or directory: 'crime/Chicago_Crimes_2001_to_2004.csv'

In [ ]:
crime_1_5 = crime[(crime['Year'] >= 2001) & (crime['Year'] < 2006)]
crime_1_5

In [ ]:
sex_crime = crime_1_5[crime_1_5['Primary Type'].isin(['CRIM SEXUAL ASSAULT','SEX OFFENSE'])]
sex_crime

In [ ]:
sex_crime['Year'] = sex_crime['Year'].astype('int64')

In [ ]:
sex_crime_by_year = sex_crime.groupby('Year')['ID'].nunique()
sex_crime_by_year.name = 'No. of sexual crimes'
sex_crime_by_year

In [ ]:
chlamydia = pd.read_csv('health/chlamydia-cases-among-females-aged-15-44-in-chicago-by-year-2000-2014..csv')
gonorrhea = pd.read_csv('health/gonorrhea-cases-for-females-aged-15-44-in-chicago-by-year-2000-2014.csv')
chlamydia

In [ ]:
chlamydia_cases = chlamydia[['Cases 2001 Female 15-44',
                             'Cases 2002 Female 15-44',
                             'Cases 2003 Female 15-44',
                             'Cases 2004 Female 15-44',
                             'Cases 2005 Female 15-44',
                             ]]
gonorrhea_cases = gonorrhea[['Cases 2001 Female 15-44',
                             'Cases 2002 Female 15-44',
                             'Cases 2003 Female 15-44',
                             'Cases 2004 Female 15-44',
                             'Cases 2005 Female 15-44',
                             ]]
chlamydia_cases

In [ ]:
chlamydia_cases.columns = [2001, 2002, 2003, 2004, 2005]
gonorrhea_cases.columns = [2001, 2002, 2003, 2004, 2005]
chlamydia_cases_sum = chlamydia_cases.sum()
gonorrhea_cases_sum = gonorrhea_cases.sum()
chlamydia_cases_sum.name = 'Chlamydia'
gonorrhea_cases_sum.name = 'Gonorrhea'

In [ ]:
sex_crime_disease = pd.concat([sex_crime_by_year, chlamydia_cases_sum,gonorrhea_cases_sum], axis=1)
sex_crime_disease