In [43]:
import pyreadr
import pandas as pd

result = pyreadr.read_r('pollution/chicago.rds')

# done! let's see what we got
print(result.keys()) # let's check what objects we got: there is only None
pollution = result[None] # extract the pandas data frame for the only object available

odict_keys([None])

In [27]:
pollution

,city,tmpd,dptp,date,pm25tmean2,pm10tmean2,o3tmean2,no2tmean2
0,chic,31.5,31.500,1987-01-01,NaN,34.000000,4.250000,19.988095
1,chic,33.0,29.875,1987-01-02,NaN,NaN,3.304348,23.190994
2,chic,33.0,27.375,1987-01-03,NaN,34.166667,3.333333,23.815476
3,chic,29.0,28.625,1987-01-04,NaN,47.000000,4.375000,30.434524
4,chic,32.0,28.875,1987-01-05,NaN,NaN,4.750000,30.333333
...,...,...,...,...,...,...,...,...
6935,chic,40.0,33.600,2005-12-27,23.560000,27.000000,4.468750,23.500000
6936,chic,37.0,34.500,2005-12-28,17.750000,27.500000,3.260417,19.285628
6937,chic,35.0,29.400,2005-12-29,7.450000,23.500000,6.794837,19.972222
6938,chic,36.0,31.000,2005-12-30,15.057143,19.200000,3.034420,22.805556
6939,chic,35.0,30.100,2005-12-31,15.000000,23.500000,2.531250,13.250000

In [46]:
pollution['date'] = pd.to_datetime(pollution['date'], errors='coerce')

array(['1987-01-01T00:00:00.000000000', '1987-01-02T00:00:00.000000000',
       '1987-01-03T00:00:00.000000000', ...,
       '2005-12-29T00:00:00.000000000', '2005-12-30T00:00:00.000000000',
       '2005-12-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [48]:
#filtorwanie dat
filtered_df = pollution.loc[(pollution['date'] >= '2000-01-01')
                     & (pollution['date'] < '2000-12-31')]

filtered_df

,city,tmpd,dptp,date,pm25tmean2,pm10tmean2,o3tmean2,no2tmean2
4748,chic,42.0,32.2,2000-01-01,25.700000,29.333333,4.621212,24.069444
4749,chic,48.0,42.3,2000-01-02,30.600000,47.500000,16.527778,16.312500
4750,chic,35.0,33.7,2000-01-03,12.450000,11.500000,9.099034,15.114583
4751,chic,28.0,22.2,2000-01-04,11.550000,19.000000,11.059179,23.801786
4752,chic,20.0,16.6,2000-01-05,18.600000,23.500000,4.352657,20.349802
...,...,...,...,...,...,...,...,...
5108,chic,11.0,9.2,2000-12-26,20.100000,25.833333,6.937500,36.850000
5109,chic,12.0,7.6,2000-12-27,27.250000,38.000000,5.083333,33.022464
5110,chic,13.0,9.0,2000-12-28,21.550000,31.500000,7.270833,36.125774
5111,chic,21.0,16.9,2000-12-29,17.366667,23.000000,11.708333,33.303788
5112,chic,27.0,23.0,2000-12-30,6.200000,8.500000,17.145833,23.916667